# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
*.log
npm-debug.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDE/editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de build
dist/
build/

# Arquivos temporários
tmp/
temp/

# Arquivos de cobertura de testes
coverage/